
.paragraph{
    font-size: 20px;
    margin-top: 150px;
}

.marquee1{
    font-size: 10px;
    color:darkgray;
    margin-top: -400px;
}

.marquee2{
    font-size: 10px;
    color:darkgray;
    margin-top: -1200px;
    margin-left: 100px;
}

.marquee3{
    font-size: 10px;
    color:darkgray;
    margin-top: -1300px;
    margin-left: 200px;
}

.marquee4{
    font-size: 10px;
    color:darkgray;
    margin-top: -1200px;
    margin-left: 300px;
}

.marquee5{
    font-size: 10px;
    color:darkgray;
    margin-top: -1400px;
    margin-left: 400px;
}

.marquee6{
    font-size: 10px;
    color:darkgray;
    margin-top: -1300px;
    margin-left: 500px;
}

.marquee7{
    font-size: 10px;
    color:darkgray;
    margin-top: -1450px;
    margin-left: 600px;
}

.marquee8{
    font-size: 10px;
    color:darkgray;
    margin-top: -1400px;
    margin-left: 700px;
}

.marquee9{
    font-size: 10px;
    color:darkgray;
    margin-top: -1600px;
    margin-left: 800px;
}

.marquee10{
    font-size: 10px;
    color:darkgray;
    margin-top: -1800px;
    margin-left: 900px;
}

.marquee11{
    font-size: 10px;
    color:darkgray;
    margin-top: -1800px;
    margin-left: 1000px;
}

.marquee12{
    font-size: 10px;
    color:darkgray;
    margin-top: -1800px;
    margin-left: 1100px;
}

.marquee13{
    font-size: 10px;
    color:darkgray;
    margin-top: -1800px;
    margin-left: 1200px;
}

.marquee14{
    font-size: 10px;
    color:darkgray;
    margin-top: -1800px;
    margin-left: 1300px;
}

.marquee15{
    font-size: 10px;
    color:darkgray;
    margin-top: -1900px;
    margin-left: 1400px;
}

.marquee16{
    font-size: 10px;
    color:darkgray;
    margin-top: -2500px;
    margin-left: 1500px;
}

.marquee17{
    font-size: 10px;
    color:darkgray;
    margin-top: -2050px;
    margin-left: 1600px;
}

.marquee18{
    font-size: 10px;
    color:darkgray;
    margin-top: -2150px;
    margin-left: 1700px;
}

.buttons {
    margin-top: -1270px;
}